<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
<h1>SHINE EJS WIP</h1>

<div class="container">
  <% for(let student of students) { %>
    <div class="num">
      <input type="checkbox" id=<%= student.student_number %> name=<%= student.student_number %>>
      <label class="font-effect-neon" for=<%= student.student_number %>>
        <%= student.student_number %>
      </label>
    </div>
    <% } %>
</div>
<br />
<p><a href="/student/new">Add a new student</a></p>

</body>
</html>
