<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs"); %>
</head>

<body>
<h1>SHINE EJS WIP</h1>
<h2><%= classroom.teacher_salutation %> <%= classroom.teacher_first_name %> <%= classroom.teacher_last_name %>'s Classroom </h2>
<h3><%= classroom.class_emojis %> <%= classroom.class_saying %> <%= classroom.class_emojis %></h3>
<div class="container">
  <% for(let student of students) { %>
    <div class="num">
      <img alt="robot" id="robotImage" src="<%= "https://robohash.org/" + student.student_name + student.robot_offset + "?size=80x80" %>" />
      <input type="checkbox" class="student-check" id=<%= student.student_id %> name=<%= student.student_id %> <% if (!student.student_state) {"checked"}; console.log(student.state) %>>
      <label class="font-effect-neon" for=<%= student.student_id %> id=<%= student.student_id %>>
        <%= student.student_id %>
      </label>
      <br />
      <a href="/student/edit/<%= student.student_id %>" style="text-decoration:none; color:#efe3ee">✎</a>
      <a href="/student/edit/<%= student.student_id %>" style="text-decoration:none; color:#efe3ee">💡</a>
      <a href="/student/edit/<%= student.student_id %>" style="text-decoration:none; color:#efe3ee">➕</a>
    </div>
    <!-- ADD FUNCTION TO UPDATE DB WITH STATE OF STUDENT ON CLICK 
      POST TO ITS OWN ENDPOINT and update students; and events; 
    -->
    <% } %>
</div>
<br />
<p><a href="/student/new">Add a new student</a></p>
<script> 
  const studentLights = Array.from(document.getElementsByClassName('font-effect-neon')); 

  const lightClicked = e => {
    console.log(e.target.id); 
    fetch(`/student/toggle-state/${e.target.id}`, {method: 'POST'})
      .then(function(response) {
        if(response.ok) {
          console.log('click was recorded'); 
          return
        }
        throw new Error('Request failed.'); 
      })
      .catch(function(error) {
        console.log(error); 
      })
  }

  for (let light of studentLights) {
    light.addEventListener("click", lightClicked)
  }
  // setTimeout(() => {location.reload()}, 5000); 
</script>
</body>
</html>
